<!DOCTYPE html>
<html>
	<head>
		<title>404 - SkyMeeting</title>
		<link rel="stylesheet" type="text/css" href="../public/css/specific/404.css">
	</head>
	<body>
		<div id="warp">
			<div id="header_top"></div>
			<div id="header">
				<h2>Oops, page not found</h2>
				<h5>Somebody really liked this page, or maybe your mis-typed the URL.</h5>
			</div>
			<div id="content">
				<div id="text">
					<p>Sorry, Evidently the document you were looking for has either been moved or no longer exists. Please use the navigational links to the right to locate additional resources and information.</p>
	                <br />
					<h3>Lost? We suggest...</h3>
					
					<ul>
						<li><a href="#">&raquo; Home</a></li>
						<li><a href="#">&raquo; Portfolio</a></li>
						<li><a href="#">&raquo; About</a></li>
						<li><a href="#">&raquo; Contact</a></li>
					</ul>
				</div>
				<img id="book" src="../public/img/404.png" alt="Book iCon" />
				<div style="clear:both;"></div>
			</div>
			<div id="footer">
				<img src="../public/img/twitter.png" alt="twitter" id="twitter" />
				
				<p id="twitter_text">
					<a href="#">@annanta</a> 
					
					Under Construction Template <a href="http://ow.ly/16GJZa">http://ow.ly/16GJZa</a>			
				</p>
				<div style="clear:both;"></div>
			</div>
			<div id="footer_bottom"></div>
		</div>
	</body>
</html>