{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<title>404 - SkyMeeting</title>
		<link rel="stylesheet" type="text/css" href="../public/css/specific/404.css">
	</head>
	<body>
		<div id="warp">
			<div id="header_top"></div>
			<div id="header">
				<h2>{% trans "Oops, page not found" %}</h2>
				<h5>{% trans "Somebody really liked this page, or maybe your mis-typed the URL." %}</h5>
			</div>
			<div id="content">
				<div id="text">
					<p>{% trans "Sorry, Evidently the document you were looking for has either been moved or no longer exists. Please use the navigational links to the right to locate additional resources and information." %}</p>
	                <br />
					<h3>{% trans "Lost? We suggest" %}...</h3>
					
					<ul>
						<li><a href="/dashboard/">&raquo;&nbsp;{% trans "Home" %}</a></li>
						<li><a href="/meetings/">&raquo;&nbsp;{% trans "Meetings" %}</a></li>
						<li><a href="/profile/">&raquo;&nbsp;{% trans "Profile" %}</a></li>
					</ul>
				</div>
				<img id="book" src="../public/img/404.png" alt="404 icon" />
				<div style="clear:both;"></div>
			</div>
			<div id="footer">
				<img src="../public/img/twitter.png" alt="twitter" id="twitter" />
				
				<p id="twitter_text">
					<a href="javascript:void(0);">@ISE_SkyMeeting</a> 
					<span>SkyMeeting Project Produced by</span>
					<a href="http://software.nju.edu.cn/ise" target="_blank">ISE Lab</a>			
				</p>
				<div style="clear:both;"></div>
			</div>
			<div id="footer_bottom"></div>
		</div>
	</body>
</html>