<!DOCTYPE html>
<html>
  <head>
   <title>{%block title%}{%endblock%}</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <style type="text/css">
	.navbar-wrapper {
		/*position: absolute;
		top: 0;
		left: 0;
		right: 0;*/
		z-index: 10;
		margin-top: 20px;
		}
    </style>
    {% block cssfile%}{%endblock%}
  </head>
  <body>
	
	<div class="container">
		<div class="navbar-wrapper">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="brand" href="">iMeeting</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active">
									<a href="#">Home</a>
									
								</li>
								<li>
									<a href="#">Boards</a>
								</li>
								<li>
									<a href="#">Meetings</a>
								</li>
								<li>
									<a href="#">Documents</a>
								</li>
								<li>
									<a href="#">Member Statistics</a>
								</li>
							</ul>
							<form class="navbar-search pull-right" action="" method="get">
								<input type="text" class="search-query span2" placeholder="Search" />
								<span class=""><i class="icon-search"></i></span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		</form>
	</div>
	
	{%block content%}{%endblock%}
	
	<!-- <script src="http://code.jquery.com/jquery.min.js"></script> -->
	<script src="../public/js/jquery-1.9.1.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	{%block morestatic%}{%endblock%}
  </body>
  {%block footer%}{%endblock%}
</html>