{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
   <title>{%block title%}{%endblock%}</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../public/css/skymeeting.common.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" type="text/css" href="../public/css/specific/base.css">
    {% block cssfile%}{%endblock%}
  </head>
  <body>
	<div class="container">
		<div class="navbar-wrapper">
			<div id="topbar">
				<div class="dropdown pull-right">
					<span>{% trans "Welcome" %}</span>
					<a href="javascript:void(0);" class="dropdown-toggle" id="roleDrop">
						{% for role in rolePack.roles %}
							{% if role.rid == rolePack.curRid %}
								<span data-rid="{{ role.rid }}">
									{{ role.name }}({{ role.companyName }})
								</span>
							{% endif %}
						{% endfor %}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" id="roleList" role="menu" aria-labelledby="roleDrop">
						{% for role in rolePack.roles %}
						<li role="presentataion">
							<a href="javascript:void(0);" class="role" role="menuitem" data-rid="{{ role.rid }}" data-cid="{{ role.cid }}">{{ role.name }}({{ role.companyName }})</a>
						</li>
						{% endfor %}
						<li role="presentataion">
							<a href="/logout/" role="menuitem" id="logoutLink">{% trans "Logout" %}</a>
						</li>
					</ul>
					<form class="hide" id="roleForm" action="/setrole/" method="post">
						<input type="hidden" name="rid" value="" />
						<input type="hidden" name="cid" value="" />
					</form>
				</div>
			</div>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="brand" href="">iMeeting</a>
						<div class="nav-collapse collapse">
							<!-- common nav -->
							<ul class="nav" id="navList">
								<li data-name="home">
									<a href="/dashboard/">{% trans "Home" %}</a>
								</li>
								{% if authPack.rlevel == 1 %}
								<li class="dropdown" data-name="meetings">
									<a href="/meetings/" class="dropdown-toggle" id="meetingDrop" role="button">
										{% trans "Meetings" %}
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="meetingDrop">
										<li role="presentataion">
											<a href="/meetings/?ad=0" role="menuitem">{% trans "I attended" %}</a>
										</li>
										<li role="presentataion">
											<a href="/meetings/?ad=1" role="menuitem">{% trans "I created" %}</a>
										</li>
									</ul>
								</li>
								{% else %}
								<li data-name="meetings">
									<a href="/meetings/">{% trans "Meetings" %}</a>
								</li>
								{% endif %}
								<!-- 
								<li data-name="documents">
									<a href="javascript:void(0);">{% trans "Documents" %}</a>
								</li>
								 -->
								{% if authPack.alevel == 1 %}
								<li data-name="members">
									<a href="/members/">{% trans "Member Statistics" %}</a>
								</li>
								{% endif %}
								<li data-name="profile">
									<a href="/profile/">{% trans "Profile" %}</a>
								</li>
							</ul>
							<!-- language select -->
							<ul class="nav pull-right">
								<li class="dropdown">
									<a href="javascript:void(0);" class="dropdown-toggle" id="langDrop" role="button">
										<span>{{ langPack.curLangName }}</span>
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu" id="langList" role="menu" aria-labelledby="langDrop">
										{% for lang in langPack.LANGUAGES %}
										<li role="presentataion">
											<a href="javascript:void(0);" role="menuitem" data-lang-code="{{ lang.0 }}">{{ lang.1 }}</a>
										</li>
										{% endfor %}
									</ul>
								</li>
							</ul>
							<!-- language form -->
							<form class="hidden" id="langForm" action="/setlang/" method="post">
								<input type="hidden" name="next" value="{{ langPack.curAction }}" />
								<input type="hidden" name="language" value="" />
							</form>
							<!-- quick search -->
							<form class="navbar-search pull-right" action="" method="get">
								<input type="text" class="search-query span2" placeholder="{% trans 'Search' %}" />
								<span class=""><i class="icon-search"></i></span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{%block content%}{%endblock%}
	
	<!-- <script src="http://code.jquery.com/jquery.min.js"></script> -->
	<script src="../public/js/jquery-1.9.1.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>

    <!-- lib for language gettext -->
	<script src="/jsi18n/Login"></script>
	<script src="/jsi18n/MemManage"></script>
	<script src="/jsi18n/Meeting"></script>
	
	<!-- lib for js validation -->
	<script src="../public/js/jquery.validation-1.0.1.min.js"></script>

	<script type="text/javascript" src="../public/js/specific/base.js"></script>
	{%block morestatic%}{%endblock%}
  </body>
  {%block footer%}{%endblock%}
</html>