{% extends 'base.html'%}
{% load i18n %}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<link rel="stylesheet" type="text/css" href="../public/css/specific/home.css">
{%endblock%}

{%block content%}
<div class="container">
	<div class="well-wrapper">
		{% for dashboard in dashboards %}
		<div class="well {% if dashboard.rid == rolePack.curRid %}selected{% endif %}">
			<h3>{{ dashboard.companyName }}</h3>
			<div class="summary">
				<div class="summary-title">
					{% trans "Board Summary" %}
				</div>
				<div class="summary-content">
					<dl class="dl-horizontal">
						<dt>{% trans "Board owner" %}</dt>
						<dd>{{ dashboard.companyAdmin }}</dd>
						<dt>{% trans "Active members" %}</dt>
						<dd>{{ dashboard.membersCount }}</dd>
					</dl>
				</div>
			</div>
			<div class="summary">
				<div class="summary-title">
					{% trans "Meeting Summary" %}
				</div>
				<div class="summary-content">
					<dl class="dl-horizontal">
						<dt>{% trans "All" %}</dt>
						<dd>{{ dashboard.allMeetingsCount }}</dd>
						<dt>{% trans "Active" %}</dt>
						<dd>{{ dashboard.activeMeetingsCount }}</dd>
						<dt>{% trans "Closed" %}</dt>
						<dd>{{ dashboard.closedMeetingsCount }}</dd>
						<dt>{% trans "Latest meeting" %}</dt>
						<dd>
							<span class="meeting-title">{{ dashboard.latestMeeting.mtitle }}</span>
							<span class="meeting-time">{{ dashboard.latestMeeting.mstart }}</span>
							<span class="meeting-place">{{ dashboard.latestMeeting.mplace }}</span>
						</dd>
					</dl>
				</div>
			</div>
			<form class="hide" action="/setrole/" method="post">
				<input type="hidden" name="rid" value="{{ dashboard.rid }}" />
			</form>
		</div>
		{% endfor %}
	</div>
</div>
{%endblock%}

{%block morestatic%}
<script type="text/javascript" src="../public/js/specific/home.js"></script>
{%endblock%}
