{% extends 'loginBase.html'%}
{% load i18n %}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<link rel="stylesheet" type="text/css" href="../public/css/specific/invite.css">
{%endblock%}

{%block content%}
<div class="container">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<h3 class="text-center">{% trans "I have already owned an account" %}</h3>
				<form class="form-horizontal form-signin" id="signinForm" action="/register/" method="post">
					<div class="control-group">
						<label class="control-label" for="accountName">{% trans "Account name" %}</label>
						<div class="controls">
							<input type="text" id="accountName" name="accountname" placeholder="{% trans 'Account Name' %}" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">{% trans "Password" %}</label>
						<div class="controls">
							<input type="password" id="password" name="password" placeholder="{% trans 'Password' %}" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<!-- 
							<label class="checkbox">
								<input type="checkbox" id="rememberMe" />
								{% trans "Remember me" %}
							</label>
							 -->
							<input type="submit" class="btn btn-primary" value="{% trans 'Sign in' %}" />
						</div>
					</div>
				</form>
			</div>
			

			<div class="span6">
				<h3 class="text-center">{% trans "This is my first time to be here" %}</h3>
				<form class="form-horizontal form-register" id="newAccountForm" action="/registernewaccount/" method="post">
					<div class="control-group">
						<label class="control-label" for="inputAccount">{% trans "Account name" %}</label>
						<div class="controls">
							<input type="text" id="inputAccount" name="accountname" placeholder="{% trans 'Account Name' %}" data-validate-presence="true" data-validate-format="/^[a-z]([a-z]|[0-9])*$/" data-validate-error="#inputAccountError" {% if lastInput %}value="{{ lastInput.newAccountName }}"{% endif %} />
							{% if errors.verifyAccount %}
							<div class="alert-msg" id="inputAccountError">
								{{ errors.verifyAccount.msg }}
							</div>
							{% else %}
							<div class="alert-msg hide" id="inputAccountError">
								{% trans "Should begin with a character, and cannot contain punctuations." %}
							</div>
							{% endif %}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">{% trans "Password" %}</label>
						<div class="controls">
							<input type="password" id="inputPassword" name="password" placeholder="{% trans 'Password' %}" data-validate-presence="true" data-validate-error="#inputPasswordError" />
							<div class="alert-msg hide" id="inputPasswordError">
								{% trans "Password cannot be blank." %}
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="repeatPassword">{% trans "Repeat Password" %}</label>
						<div class="controls">
							<input type="password" id="repeatPassword" placeholder="{% trans 'Repeat Password' %}" />
							<div class="alert-msg hide" id="repeatPasswordError">
								{% trans "Two passwords don't match." %}
							</div>
						</div>
					</div>
					{% if verifyInfo.verifyByName == "true" or verifyInfo.verifyByIdcard == "true" or verifyInfo.verifyByQuest == "true" %}
					<div class="text-center muted" id="verificationHint">----------{% trans "The following content is for identity verification." %}----------</div>
					{% endif %}
					{% if verifyInfo.verifyByName == "true" %}
					<div class="control-group">
						<label class="control-label" for="inputName">{% trans "True Name" %}</label>
						<div class="controls">
							<input type="text" id="inputName" name="name" placeholder="{% trans 'True Name' %}" data-validate-presence="true" data-validate-error="#inputNameError" {% if lastInput %}value="{{ lastInput.verifyName }}"{% endif %} />
							{% if errors.verifyName %}
							<div class="alert-msg" id="inputNameError">
								{{ errors.verifyName.msg }}
							</div>
							{% else %}
							<div class="alert-msg hide" id="inputNameError">
								{% trans "True Name cannot be blank." %}
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% if verifyInfo.verifyByIdcard == "true" %}
					<div class="control-group">
						<label class="control-label" for="inputIdcard">{% trans "ID Card Number" %}</label>
						<div class="controls">
							<input type="text" id="inputIdcard" name="idcard" placeholder="{% trans 'ID Card Number' %}" data-validate-presence="true" data-validate-error="#inputIdcardError" {% if lastInput %}value="{{ lastInput.verifyIdcard }}"{% endif %} />
							{% if errors.verifyIdcard %}
							<div class="alert-msg" id="inputIdcardError">
								{{ errors.verifyIdcard.msg }}
							</div>
							{% else %}
							<div class="alert-msg hide" id="inputIdcardError">
								{% trans "ID Card Number cannot be blank." %}
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% if verifyInfo.verifyByQuest == "true" %}
					<div class="control-group">
						<label class="control-label" for="inputAnswer">{{ verifyInfo.verifyQuest }}</label>
						<div class="controls">
							<input type="text" id="inputAnswer" name="answer" placeholder="{% trans 'Answer' %}" data-validate-presence="true" data-validate-error="#inputAnswerError" {% if lastInput %}value="{{ lastInput.verifyAnswer }}"{% endif %} />
							{% if errors.verifyAnswer %}
							<div class="alert-msg" id="inputAnswerError">
								{{ errors.verifyAnswer.msg }}
							</div>
							{% else %}
							<div class="alert-msg hide" id="inputAnswerError">
								{% trans "Answer cannot be blank." %}
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					<div class="control-group">
						<div class="controls">
							<input type="button" class="btn btn-primary" id="newAccountFormOk" value="{% trans 'Register' %}" data-validate="#newAccountForm" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{%endblock%}

{%block morestatic%}
<script type="text/javascript" src="../public/js/specific/invite.js"></script>
{%endblock%}
