{% extends 'loginBase.html'%}
{% load i18n %}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<link rel="stylesheet" type="text/css" href="../public/css/specific/invite.css">
{%endblock%}

{%block content%}
<div class="container">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<h3 class="text-center">{% trans "I have already owned an account" %}</h3>
				<form class="form-horizontal form-signin" action="/register/" method="post">
					<div class="control-group">
						<label class="control-label" for="accountName">{% trans "Account name" %}</label>
						<div class="controls">
							<input type="text" id="accountName" name="accountname" placeholder="{% trans 'Account name' %}" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">{% trans "Password" %}</label>
						<div class="controls">
							<input type="password" id="password" name="password" placeholder="{% trans 'Password' %}" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<!-- 
							<label class="checkbox">
								<input type="checkbox" id="rememberMe" />
								{% trans "Remember me" %}
							</label>
							 -->
							<input type="submit" class="btn btn-primary" value="{% trans 'Sign in' %}" />
						</div>
					</div>						
				</form>
			</div>
			

			<div class="span6">
				<h3 class="text-center">{% trans "This is my first time to be here" %}</h3>
				<form class="form-horizontal form-register" action="/registernewaccount/" method="post">
					<div class="control-group">
						<label class="control-label" for="inputAccount">{% trans "Account name" %}</label>
						<div class="controls">
							<input type="text" id="inputAccount" name="accountname" placeholder="{% trans 'Account name' %}" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">{% trans "Password" %}</label>
						<div class="controls">
							<input type="password" id="inputPassword" name="password" placeholder="{% trans 'Password' %}" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="repeatPassword">{% trans "Repeat Password" %}</label>
						<div class="controls">
							<input type="password" id="repeatPassword" placeholder="{% trans 'Repeat Password' %}" />
							<div class="alert-msg hide" id="repeatPasswordError">
								{% trans "Two passwords don't match." %}
							</div>
						</div>
					</div>
					{% if verifyByName == "true" %}
					<div class="control-group">
						<label class="control-label" for="inputName">{% trans "True Name" %}</label>
						<div class="controls">
							<input type="text" id="inputName" name="name" placeholder="{% trans 'True Name' %}" />
						</div>
					</div>
					{% endif %}
					{% if verifyByIdcard == "true" %}
					<div class="control-group">
						<label class="control-label" for="inputIdcard">{% trans "ID Card Number" %}</label>
						<div class="controls">
							<input type="text" id="inputIdcard" name="idcard" placeholder="{% trans 'ID Card Number' %}" />
						</div>
					</div>
					{% endif %}
					{% if verifyByQuest == "true" %}
					<div class="control-group">
						<label class="control-label" for="inputAnswer">{{ verifyQuest }}</label>
						<div class="controls">
							<input type="text" id="inputAnswer" name="answer" placeholder="{% trans 'Answer' %}" />
						</div>
					</div>
					{% endif %}
					<div class="control-group">
						<div class="controls">
							<input type="submit" class="btn btn-primary" value="{% trans 'Register' %}" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{%endblock%}

{%block morestatic%}
<script type="text/javascript" src="../public/js/specific/invite.js"></script>
{%endblock%}
