<!DOCTYPE html>
<html>
  	<head>
    	<title>SkyMeeting</title>
    	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	    <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
	    <!-- Bootstrap -->
	    <link href="../public/css/bootstrap.min.css" rel="stylesheet" media="screen">

	    <style type="text/css">
		body {
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: #f5f5f5;
		}
		.form-signin, .form-register {
			max-width: 510px;
			padding: 19px 29px 0px;
			margin: 0 auto 20px;
			background-color: #fff;
			border: 1px solid #e5e5e5;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
		}
		.form-signin .checkbox {
			margin-bottom: 10px;
		}

		</style>
	</head>
	<body>

		<div class="container">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span6">
						<h3 class="text-center">I have already owned an account</h3>
						<form class="form-horizontal form-signin" action="/login/" method="post">
							<div class="control-group">
								<label class="control-label" for="email">Email</label>
								<div class="controls">
									<input type="text" id="email" name="username" placeholder="Email" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="password">Password</label>
								<div class="controls">
									<input type="password" id="password" name="password" placeholder="Password" />
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" id="rememberMe" />
										Remember me
									</label>
									<input type="submit" class="btn btn-primary" value="Sign in" />
								</div>
							</div>						
						</form>
					</div>
					

					<div class="span6">
						<h3 class="text-center">This is my first time to be here</h3>
						<form class="form-horizontal form-register" action="../regedit/" method="post">
							<div class="control-group">
								<label class="control-label" for="inputEmail">Email</label>
								<div class="controls">
									<input type="text" id="inputEmail" name="username" placeholder="Email" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputPassword">Password</label>
								<div class="controls">
									<input type="password" id="inputPassword" name="password" placeholder="Password" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="repeatPassword">Repeat Password</label>
								<div class="controls">
									<input type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputTrueName">True Name</label>
								<div class="controls">
									<input type="text" id="inputTrueName" name="trueName" placeholder="True Name" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputIdcard">ID Card Number</label>
								<div class="controls">
									<input type="text" id="inputIdcard" name="idcard" placeholder="ID Card Number" />
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<input type="submit" class="btn btn-primary" value="Regedit" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<!-- <script src="http://code.jquery.com/jquery.min.js"></script> -->
		<script src="../public/js/jquery-1.9.1.min.js"></script>
		<script src="../public/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
		
		</script>

	</body>
</html>