{% extends 'loginBase.html'%}
{% load i18n %}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<link rel="stylesheet" type="text/css" href="../public/css/specific/login.css">
{%endblock%}

{%block content%}
<div class="container">
	<form class="form-horizontal form-signin" action="login/" method="post">
		<div class="control-group">
			<label class="control-label" for="inputAccount">{% trans "Account name" %}</label>
			<div class="controls">
				<input type="text" id="inputAccount" name="accountname" placeholder="{% trans 'Account name' %}" />
			</div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="inputPassword">{% trans "Password" %}</label>
			<div class="controls">
				<input type="password" id="inputPassword" name="password" placeholder="{% trans 'Password' %}" />
			</div>
		  </div>
		  <div class="control-group">
			<div class="controls">
				<!-- 
				<label class="checkbox">
					<input type="checkbox" />
					{% trans "Remember me" %}
				</label>
				 -->
				<input type="submit" class="btn btn-primary" value="{% trans 'Sign in' %}" />
			</div>
		</div>
		<input type="hidden" name="redirectUrl" value="{{ redirectUrl }}" />
	</form>
</div>
{%endblock%}

{%block morestatic%}
<script type="text/javascript" src="../public/js/specific/login.js"></script>
{%endblock%}
