{% extends 'baseWithoutNav.html'%}
{% load i18n %}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<link rel="stylesheet" type="text/css" href="../public/css/specific/login.css">
{%endblock%}

{%block content%}
<div class="container">
	<form class="form-horizontal form-signin" action="login/" method="post">
		<div class="control-group">
			<label class="control-label" for="inputAccount">{% trans "Account Name" %}</label>
			<div class="controls">
				<input type="text" id="inputAccount" name="accountname" placeholder="{% trans 'Account Name' %}" />
			</div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="inputPassword">{% trans "Password" %}</label>
			<div class="controls">
				<input type="password" id="inputPassword" name="password" placeholder="{% trans 'Password' %}" />
			</div>
		  </div>
		  <div class="control-group">
			<div class="controls">
				<!-- 
				<label class="checkbox">
					<input type="checkbox" />
					{% trans "Remember me" %}
				</label>
				 -->
				<input type="submit" class="btn btn-primary" value="{% trans 'Sign In' %}" />

				<!-- forget password -->
				<a href="#forgetModal" id="forgetPasswordLink" data-toggle="modal">{% trans "Forget Password" %}</a>
			</div>
		</div>
		<input type="hidden" name="redirectUrl" value="{{ redirectUrl }}" />
	</form>
</div>



<div class="modal hide fade" id="forgetModal" role="dialog" aria-labelledby="forgetModalLabel" aria-hidden="true">
	<div class="modal-header">
		<!-- <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="x" /> -->
		<a href="javascript:void(0);" class="close" role="button" data-dismiss="modal" aria-hidden="true">x</a>
		<h3 id="forgetModalLabel">{% trans "Forget Password" %}</h3>
	</div>
	<form class="form-horizontal" id="forgetForm">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="inputEmail">{% trans "Email" %}</label>
				<div class="controls">
					<input type="text" id="inputEmail" placeholder="{% trans 'Email' %}" data-validate-email="true" data-validate-error="#inputEmailError" />
					<div class="help-block">
						{% trans "Input your email in your account. An email with a special link will be sended to you soon." %}
					</div>
					<div class="alert-msg hide" id="inputEmailError">
						{% trans "Should be an email address." %}
					</div>
					<div class="alert-msg hide" id="sendEmailError">
						<!-- add by js -->
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<input type="button" class="btn btn-primary" id="forgetFormOk" value="{% trans 'Send' %}" data-validate="#forgetForm" />
			<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="{% trans 'Cancel' %}" />
		</div>
	</form>
</div>
{%endblock%}

{%block morestatic%}
<script type="text/javascript" src="../public/js/specific/login.js"></script>
{%endblock%}
