{% extends 'base.html'%}
{% load i18n %}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<link rel="stylesheet" type="text/css" href="../public/css/specific/meeting.css">
{%endblock%}

{%block content%}
<div class="container">

	<!-- Meeting title -->
	<div class="row-fluid text-center">
		<div id="meetingTitle">
			<h3>{{ meetingData.mtitle }}</h3>
		</div>
		<div id="meetingSubTitle">
			<span class="time">{{ meetingData.mstart }}</span>
			<span class="place">{{ meetingData.mplace }}</span>
		</div>
	</div>





	<!-- Basic info block -->
	<div class="row-fluid meeting-block">
		<div class="meeting-block-header">
			<h4>{% trans "Basic Info" %}</h4>
		</div>
		<div class="meeting-block-content">
			<dl class="dl-horizontal">
				<dt id="imageDt">{% trans "Organizer" %}</dt>
			  	<dd id="imageDd">
					<span><img class="" src="../public/img/head_64x64.png" /></span>
					<span>{{ meetingData.muser.name }}</span>
				</dd>
			  	<dt>{% trans "Meeting type" %}</dt>
			  	<dd>
			  		{% if meetingData.mtype == 1 %}
						{% trans "Formal meeting" %}
					{% elif meetingData.mtype == 2 %}
						{% trans "Informal meeting" %}
					{% elif meetingData.mtype == 0 %}
						{% trans "Others" %}
					{% else %}
						{% trans "Undefined" %}
					{% endif %}
			  	</dd>
			  	<dt>{% trans "Contact tel" %}</dt>
			  	<dd>{{ meetingData.mtel }}</dd>
			  	<dt>{% trans "Contact mail" %}</dt>
			  	<dd>{{ meetingData.memail }}</dd>
			</dl>
		</div>
	</div>





	<!-- Detail info block -->
	<div class="row-fluid meeting-block">
		<div class="meeting-block-header">
			<h4>{% trans "Detail Info" %}</h4>
		</div>
		<div class="meeting-block-content">
			<p style="padding:0px 16px;">{{ meetingData.mdetail|safe }}</p>
			<!-- 富文本html or 格式化树状文本??? -->
		</div>
	</div>





	<!-- Participant block -->
	<div class="row-fluid">
		<div class="meeting-block-header">
			<h4>{% trans "Participants" %}</h4>
		</div>
		<div class="meeting-block-content">
			<ul class="thumbnails" id="personList">
				{% for person in meetingParticipant %}
				<li>
					<div class="thumbnail">
						<!-- default head!!! -->
						<img class="person-head" src="../public/img/man1_64x64.png" />
						<div class="caption">
							<div class="person-name">{{ person.name }}</div>
							<div class="person-position"><!-- ??? --></div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>





	<!-- Attachment block -->
	<div class="row-fluid">
		<div class="meeting-block-header">
			<h4>{% trans "Attachments" %}</h4>
		</div>
		<div class="meeting-block-content">
			<ul class="thumbnails" id="fileList">
				{% for file in meetingFile %}
				<li>
					<div class="thumbnail">
						<a href="javascript:void(0);" class="image-link">
							<img class="file-image" src="../public/img/file_{{ file.fextname }}_48x48.png" />
						</a>
						<a href="javascript:void(0);" class="default-link">
							<div class="file-name">{{ file.fname }}</div>
						</a>
					</div>
					<input type="hidden" data-fid="{{ file.fid }}" data-fname="{{ file.fname }}" data-fsize="{{ file.fsize }}" data-fextname="{{ file.fextname }}" data-fstatus="" />
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>





	<!-- Comment block -->
	<div class="row-fluid">
		<div class="meeting-block-header">
			<h4>{% trans "Comments" %}</h4>
		</div>
		<div class="meeting-block-content">
			<div id="commentListDiv">
				<!-- comments START -->
				<ol id="commentList">
					{% for comment in meetingComment %}
					<li class="comment">
						<div class="author">
							<div class="pic">
								<img src='../public/img/head_48x48.png' class='img-polaroid' />
							</div>
							<div class="name">
								<a href="javascript:void(0);">
									{{ comment.create_user_name }}
								</a>
							</div>
						</div>
						<div class="info">
							<div class="basic">
								<span class="time">{{ comment.create_time }}</span>
								|
								<a>#<span class="floor">{{ forloop.counter }}</span></a>
							</div>
							<div class="act">
								<a href="javascript:void(0);" class="reply">{% trans "Reply" %}</a>
							</div>
							<div class="clearfix"></div>
							<div class="content">
								{{ comment.content }}
							</div>
						</div>
						<input type="hidden" data-comment-id="{{ comment.comment_id }}" data-author-id="{{ comment.create_user_id }}" data-author-name="{{ comment.create_user_name }}" data-reply-to-user="" data-reply-to-comment="" />
						<div class="clearfix"></div>
					</li>					
					{% endfor %}
				</ol>
				<!-- comments END -->
			</div>



			<!-- comment post -->
			<div id="commentPostDiv">

				<form id="commentPostForm">
					<div class="row-fluid">
						<textarea id="inputComment" rows="3" placeholder="{% trans 'Add comment' %}"></textarea>
						<input type="hidden" id="replyToData" data-comment-id="" data-author-id="" data-author-name="" />
					</div>
					<div class="row-fluid">
						<span class="alert alert-error pull-left hide" id="addCommentError">
							{% trans "Comment cannot be blank." %}
						</span>
						<span class="pull-right">
							<input type="button" class="btn btn-primary btn-small" id="addCommentOk" value="{% trans 'Post' %}" />
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<input type="hidden" id="meetingData" data-meeting-id="{{ meetingData.mid }}" />
</div>
{%endblock%}

{%block morestatic%}
<!-- lib for scroll plugin -->
<script src="../public/js/jquery.scrollTo.min.js"></script>

<script type="text/javascript" src="../public/js/specific/meeting.js"></script>
{%endblock%}
