{% extends 'base.html'%}
{% load i18n %}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<link rel="stylesheet" type="text/css" href="../public/css/specific/meetingList.css">
{%endblock%}

{%block content%}
<div class="container">
	<h3>{% trans "My Meetings" %}</h3>
	<div class="row-fluid">
		<div class="span3">
			<label for="meetingTypeSct">{% trans "Choose your meeting type" %}...</label>
			<select id="meetingTypeSct" size="1">
				<option value="-1">{% trans "All" %}</option>
				<option value="1" {% if type == 1 or type == "1" %}selected="selected"{% endif %}>{% trans "Formal meeting" %}</option>
				<option value="2" {% if type == 2 or type == "2" %}selected="selected"{% endif %}>{% trans "Informal meeting" %}</option>
				<option value="0" {% if type == 0 or type == "0" %}selected="selected"{% endif %}>{% trans "Others" %}</option>
			</select>
			<!-- static meeting type??? -->
		</div>
		{% if authPack.rlevel == 1 %}
		<div class="pull-right">
			<label for="meetingAdSct">{% trans "Choose" %}...</label>
			<select id="meetingAdSct" size="1">
				<option value="0">{% trans "Meetings I attended" %}</option>
				<option value="1" {% if ad == 1 or ad == "1" %}selected="selected"{% endif %}>{% trans "Meetings I created" %}</option>
			</select>
		</div>
		{% endif %}
	</div>



	<table class="table table-striped table-bordered table-hover" id="meetingTable">
		<thead>
			<tr role="row">
				<th class="span4">{% trans "Meeting name" %}</th>
				<th>{% trans "Meeting type" %}</th>
				<th>{% trans "Start time" %}</th>
				<th class="span2">{% trans "Location" %}</th>
				<th>{% trans "Created by" %} / {% trans "date" %}</th>
				<th>{% trans "Status" %}</th>
				<!-- <th>{% trans "Attachment" %}</th> -->
				{% if ad == 1 or ad == "1" %}
				<th>{% trans "OP" %}</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for meeting in meetingData %}
			<tr>
				<td><a href="../meeting/?mid={{ meeting.mid }}" target="_blank">{{ meeting.mtitle }}</a></td>
				<td>
					{% if meeting.mtype == 1 %}
						{% trans "Formal meeting" %}
					{% elif meeting.mtype == 2 %}
						{% trans "Informal meeting" %}
					{% elif meeting.mtype == 0 %}
						{% trans "Others" %}
					{% else %}
						{% trans "Undefined" %}
					{% endif %}
				</td>
				<td>{{ meeting.mstart }}</td>
				<td>{{ meeting.mplace }}</td>
				<td>{{ meeting.muser.name }} / {{ meeting.mcreate }}</td>
				{% if ad == 1 or ad == "1" %}
				<td>
					<div class="dropdown">
						{% if meeting.mstatus == 1 or meeting.mstatus == 5 %}
						<a href="javascript:void(0);" class="label label-info dropdown-toggle status-drop" id="statusDrop{{ meeting.mid }}" data-toggle="dropdown" data-cur-status="{{ meeting.mstatus }}">
							<span>{% trans "Active" %}</span>
							<b class="caret"></b>
						</a>
						{% elif meeting.mstatus == 11 %}
						<a href="javascript:void(0);" class="label label-inverse dropdown-toggle status-drop" id="statusDrop{{ meeting.mid }}" data-toggle="dropdown">
							<span>{% trans "End" %}</span>
							<b class="caret"></b>
						</a>
						{% elif meeting.mstatus == 15 %}
						<a href="javascript:void(0);" class="label dropdown-toggle status-drop" id="statusDrop{{ meeting.mid }}" data-toggle="dropdown">
							<span>{% trans "Closed" %}</span>
							<b class="caret"></b>
						</a>
						{% else %}
						<!-- undefined -->
						<span class="label">{% trans "Undefined" %}</span>
						{% endif %}
						
						<ul class="dropdown-menu status-menu" role="menu" aria-labelledby="statusDrop{{ meeting.mid }}">
							<li>
								<a href="javascript:void(0);" class="status" data-mid="{{ meeting.mid }}" data-status="1"><span class="label label-info">{% trans "Active" %}</span></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="status" data-mid="{{ meeting.mid }}" data-status="11"><span class="label label-inverse">{% trans "End" %}</span></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="status" data-mid="{{ meeting.mid }}" data-status="15"><span class="label">{% trans "Closed" %}</span></a>
							</li>
						</ul>
					</div>
				</td>
				{% else %}
				<td>
					{% if meeting.mstatus == 1 or meeting.mstatus == 5 %}
					<span class="label label-info">{% trans "Active" %}</span>
					{% elif meeting.mstatus == 11 %}
					<span class="label label-inverse">{% trans "End" %}</span>
					{% elif meeting.mstatus == 15 %}
					<span class="label">{% trans "Closed" %}</span>
					{% else %}
					<!-- undefined -->
					<span class="label">{% trans "Undefined" %}</span>
					{% endif %}
				</td>
				{% endif %}
				<!-- <td>
					<img src="../public/img/attachment_24x24.png" />
				</td> -->
				{% if ad == 1 or ad == "1" %}
				<td>
					<a href="../editmeeting/?mid={{ meeting.mid }}" class="edit-meeting image-link" title="{% trans 'Edit meeting' %}">
						<i class="icon-edit"></i>
					</a>
					<a href="javascript:void(0);" class="delete-meeting image-link" title="{% trans 'Delete meeting' %}">
						<i class="icon-trash"></i>
					</a>
				</td>
				<input type="hidden" data-mid="{{ meeting.mid }}" data-title="{{ meeting.mtitle }}" />
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>



	{% if authPack.rlevel == 1 %}
	<div class="row-fluid new-item-row">
		<a href="../newmeeting/">+&nbsp;{% trans "Create new meeting" %}</a>
	</div>
	{% endif %}
	<div class="row-fluid pagination-row">
		<div class="pagination">
			<ul>
		    	<li class="{% if pn == 1 %}disabled{% endif %}"><a href="javascript:void(0);" id="prePage">← {% trans "Previous" %}</a></li>
		    	{% for i in pnRange %}
		    	<li {% if i == pn %}class="active"{% endif %}><a href="javascript:void(0);" class="page" data-page="{{ i }}">{{ i }}</a></li>
		    	{% endfor %}
		    	<li class="{% if pn == tpn %}disabled{% endif %}"><a href="javascript:void(0);" id="nextPage">{% trans "Next" %} → </a></li>
		  	</ul>
		</div>
	</div>
</div>



<!-- Popup div -->
<div class="popup-div hide" id="deleteMeetingDiv">
	<div class="popup-div-header" id="deleteMeetingHeader">
		<a href="javascript:void(0);" class="close">x</a>
	</div>
	<div class="popup-div-inner">
		<div class="popup-delete-hint alert-msg">
			{% trans "Are you sure to delete meeting" %}
			<span class="popup-strong-hint" id="deleteMeetingTitle"></span>
			{% trans "?" %}
		</div>
		<input type="hidden" id="deleteMeetingId" />
		<div class="popup-action-div">
			<input type="button" class="btn btn-primary" id="deleteMeetingOk" value="{% trans 'OK' %}" />
			<input type="button" class="btn" id="deleteMeetingCancel" value="{% trans 'Cancel' %}" />
		</div>
	</div>
</div>
{%endblock%}

{%block morestatic%}
<script type="text/javascript" src="../public/js/specific/meetingList.js"></script>
{%endblock%}
