{% extends 'base.html'%}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<!-- others -->
<link href="../public/css/uniform.default.css" rel="stylesheet">
<!-- <link href="../public/css/jquery-ui-1.10.1.css" rel="stylesheet"> --><!-- no images included -->
<link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href="../public/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />

<style type="text/css">
	/* plugin patch */
	.ui-datepicker{
		font-size: 12px;
		line-height: 13px;
	}
	.date-input[readonly]{
		cursor: pointer;
		background-color: white;
	}
	.ke-container{
		/*没用 要延迟加载*/
		margin: 10px 0px; 
	}
	.fulltext-input{
		width: 700px;
		height: 300px;
		visibility: hidden;
	}

	/* participant */
	/* 现在person样式和tag一样 */
	div.person{
		display: inline-block;
		padding: 0 7px;
		margin-left: 8px;
		margin-bottom: 5px;
		height: 22px;
		line-height: 22px;
		background: #f1f1f1;
		text-align: center;
		color: #999;
		text-decoration: none;
		border: 1px solid #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	a.remove-person{
		font-weight: bold;
		line-height: 20px;
		color: #000000;
		text-shadow: 0 1px 0 #ffffff;
		opacity: 0.3;
		filter: alpha(opacity=30);
	}
	a.remove-person:hover{
		color: #000000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}

	/* participant modal */
	#participantModal{
		width: 60%;
		left: 40%;
	}
	#tagsDiv{
		margin-bottom: 10px;
	}
	#tagList{
		display: inline;
	}
	#personSelectDiv{
		padding-left: 20px;
		margin-bottom: 20px;
	}
	/* patch */
	.checkbox{
		display: inline-block;
		width: 220px;
	}

</style>
{%endblock%}

{%block content%}
<div class="container">
	<h3>New Meeting</h3>
	<!-- <div class="row-fluid">
		<div class="box span12">
			<div class="box-header well">
				<h4>Basic info</h4>
			</div>
			<div class="box-content">
				dfadsff<br/><br/>dfadsff<br/><br/>dfdfd
			</div>
		</div>			
	</div> -->
	
	<form class="form-horizontal" id="meetingForm">

		<!-- Basic info block -->
		<div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Basic Info</h4>
			</div>
			<div class="form-block-content">
				<div class="control-group">
					<label class="control-label" for="inputTitle">Title</label>
					<div class="controls">
						<input type="text" id="inputTitle" placeholder="Title" data-validate-presence="true" data-validate-error="#inputTitleError" />
						<span class="alert alert-error hide" id="inputTitleError">
							Meeting title cannot be blank.
						</span>
						<div class="help-block">Should be less than 100 characters.</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="typeSct">Meeting type</label>
					<div class="controls">
						<select id="typeSct">
							<option value="-1">---- Please select ----</option>
							<option value="1">Formal meeting</option>
							<option value="2">Informal meeting</option>
						</select>
						<!-- 验证失效 -->
						<span class="alert alert-error hide" id="typeSctError">
							Please select meeting type.
						</span>
						<!-- static meeting type??? -->
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="startDatetime">Start time</label>
					<div class="controls">
						<input type="text" class="date-input" id="startDatetime" readonly="readonly" data-validate-presence="true" data-validate-error="#startDatetimeError" />
						<span class="alert alert-error hide" id="startDatetimeError">
							Start time cannot be blank.
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPlace">Place</label>
					<div class="controls">
						<input type="text" id="inputPlace" placeholder="Place" data-validate-presence="true" data-validate-error="#inputPlaceError" />
						<span class="alert alert-error hide" id="inputPlaceError">
							Place cannot be blank.
						</span>
						<div class="help-block">Should be less than 50 characters.</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputTel">Contact tel</label>
					<div class="controls">
						<input type="text" id="inputTel" placeholder="Contact tel" data-validate-presence="true" data-validate-format="/^[0-9]+$/" data-validate-error="#inputTelError" />
						<span class="alert alert-error hide" id="inputTelError">
							Should be a phone number.
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Contact email</label>
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="Contact mail" data-validate-email="true" data-validate-error="#inputEmailError" />
						<span class="alert alert-error hide" id="inputEmailError">
							Should be an email address.
						</span>
					</div>
				</div>

			</div>
		</div>





		<!-- Detail info block -->
		<div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Detail Info</h4>
			</div>
			<div class="form-block-content">
				<textarea class="fulltext-input" id="inputDetail"></textarea>
			</div>
			<!-- 验证失效 -->
			<span class="alert alert-error hide" id="inputDetailError">
				Detail info cannot be blank.
			</span>
		</div>





		<!-- Participant block -->
		<div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Participants</h4>
			</div>
			<div class="form-block-content">
				<div class="row-fluid" id="personList">
					<!-- add by js -->
					<!-- 
					<div class="person">
						<span class="person-name">Danis Lu</span>
						<a href="javascript:void(0);" class="remove-person" data-id="1">x</a>
					</div>
					 -->
				</div>
				<div class="row-fluid new-item-row">
					<a href="javascript:void(0);" id="addParticipantLink">&plus;&nbsp;Add participant</a>
				</div>
			</div>
		</div>





		<!-- Attachment block -->
		<div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Attachments</h4>
			</div>
			<div class="form-block-content">
				<div class="row-fluid">
					<p>none</p>
				</div>
				<div clas="row-fluid">
					<a href="#attachmentModal" data-toggle="modal">&plus;&nbsp;Add attachment</a>
				</div>
			</div>
		</div>





		<!-- Voting block -->
		<!-- <div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Voting</h4>
			</div>
			<div class="form-block-content">
				<div clas="row-fluid">
					<a href="javascript:void(0);" data-toggle="modal">Customization</a>
				</div>
			</div>
		</div> -->





		<!-- Actions block -->
		<div class="form-actions">
	        <input type="button" class="btn btn-primary" id="meetingFormOk" value="Save changes" data-validate="#meetingForm" />
	        <input type="button" class="btn" id="meetingFormCancel" value="Cancel" />
		</div>
	</form>
</div>





<!-- Popup Modal -->
<div class="modal hide fade" id="participantModal" role="dialog" aria-labelledby="participantModalLabel" aria-hidden="true">
	<div class="modal-header">
		<!-- <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="x" /> -->
		<a href="javascript:void(0);" class="close" role="button" data-dismiss="modal" aria-hidden="true">x</a>
		<h3 id="participantModalLabel">Participants</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid" style="padding-left:0px; padding-right:0px;">
			<div class="row-fluid">
				<!-- sub group nav -->
				<div class="span4">
					<ul class="nav nav-list side-nav" id="groupList">
	  					<li class="active">
	  						<a href="javascript:void(0);" class="group" data-gid="-1">
	  							<span class="group-name">All</span>
	  						</a>
	  					</li>
	  					<li>
	  						<a href="javascript:void(0);" class="group" data-gid="1">
	  							<span class="group-name">Board</span>
	  						</a>
	  					</li>
	  					<li>
	  						<a href="javascript:void(0);" class="group" data-gid="2">
	  							<span class="group-name">Market Department</span>
	  						</a>
	  					</li>
	  					<li>
	  						<a href="javascript:void(0);" class="group" data-gid="3">
	  							<span class="group-name">Research &amp; Development</span>
	  						</a>
	  					</li>
	  				</ul>
				</div>


				<div class="span8">
					<!-- sub tag nav -->
					<!-- all tags, not change with group!!! -->
					<div class="row-fluid" id="tagsDiv">
	  					<span>Tags:</span>
	  					<ul class="inline" id="tagList">
	  						<li><a class="tag" data-tid="11">Manager</a></li>
	  						<li><a class="tag" data-tid="12">Chief Officer</a></li>
	  						<li><a class="tag" data-tid="13">Engineer</a></li>
	  						<li><a class="tag" data-tid="14">Kubility</a></li>
	  					</ul>
	  				</div>

	  				<!-- corresponding person list -->
	  				<div id="personSelectDiv">
	  					<div id="personAjaxDiv">
	  						<!-- add by js -->
	  						<!-- 
		  					<label class="checkbox">
								<div class="checker">
									<span>
										<input type="checkbox" name="selectPerson" value="1" />
									</span>
								</div>
								Danis Lu
							</label>
							 -->
						</div>
						<!-- select all -->
						<div>
							<label class="checkbox">
								<div class="checker">
									<span>
										<input type="checkbox" id="selectAllPerson" />
									</span>
								</div>
								All
							</label>
						</div>
	  				</div>


	  				<div class="row-fluid pagination-row">
						<div class="pagination">
						  <ul>
						    <li class="prev disabled"><a href="javascript:void(0);">← Previous</a></li>
						    <li class="active"><a href="javascript:void(0);">1</a></li>
						    <li><a href="javascript:void(0);">2</a></li>
						    <li><a href="javascript:void(0);">3</a></li>
						    <li><a href="javascript:void(0);">4</a></li>
						    <li><a href="javascript:void(0);">5</a></li>
						    <li class="next"><a href="javascript:void(0);">Next → </a></li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-primary" id="participantModalOk" value="Save changes" />
		<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Cancel" />
	</div>
</div>



<div class="modal hide fade" id="attachmentModal" role="dialog" aria-labelledby="attachmentModalLabel" aria-hidden="true">
	<div class="modal-header">
		<!-- <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="x" /> -->
		<a href="javascript:void(0);" class="close" role="button" data-dismiss="modal" aria-hidden="true">x</a>
		<h3 id="attachmentModalLabel">Attachments</h3>
	</div>
	<div class="modal-body">
		<p>文件选择器 可见性</p>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-primary" id="attachmentModalOk" value="Save changes" />
		<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Cancel" />
	</div>
</div>
{%endblock%}





{%block morestatic%}
<!-- lib for datepicker -->
<script src="../public/js/jquery-ui-1.10.1.min.js"></script>
<script src="../public/js/jquery.ui.datepicker-zh-CN.js"></script>
<!-- lib for timepicker (enhanced datepicker) -->
<script src="../public/js/jquery-ui-timepicker-addon.js"></script>
<script src="../public/js/jquery.ui.timepicker-zh-CN.js"></script>

<!-- lib for kindeditor -->
<script src="../public/js/kindeditor-4.0.5/kindeditor-min.js"></script>
<script src="../public/js/kindeditor-4.0.5/lang/zh_CN.js"></script>

<!-- <script src="../public/js/jquery.uniform.min.js"></script> -->
<script src="../public/js/uniform.default.js"></script>

<!-- 初始化js -->
<script type="text/javascript">
$(function() {
	// init datetime picker
	$("#startDatetime").datetimepicker({
		showMonthAfterYear: true,
        // changeMonth: true, 
        // changeYear: true, 
		minDate: '-2y', maxDate: '+2y', 
		dateFormat: 'yy/mm/dd',

        // showSecond: true,
        timeFormat: 'hh:mm',
        stepHour: 1,
        stepMinute: 1,
        stepSecond: 1
    });


    // init KindEditor
    var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[id="inputDetail"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : false,
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
		});
	});


    // 有问题???阻止点击背景关闭
    $("#participantModal").on("show", function(){
    	// alert("a");
    	$(".modal-backdrop fade in").unbind("click");
    });


    // 表单验证框架 略弱!!!
    // $.fn.validations.options.validateOn = "";
    // $("#meetingForm").validations();
});
</script>



<!-- 事件绑定js -->
<script type="text/javascript">
$(function() {
	// constants
	var AJAX_IDLE = 0;
	var AJAX_BUSY = 0;

	// ajax flags
	var ajaxQueryPersonFlag = AJAX_IDLE;

	// global storage
	// format: [{id, name}, ...]
	var globalSelectedPersons = new Array();

	// util functions of global storage
	// return true if not duplicate and add successfully
	var addToGlobalSelectedPersons = function(id, name){
		var found = false;
		for(var i=0; i<globalSelectedPersons.length; i++)
		{
			if(globalSelectedPersons[i].id == id)
			{
				found = true;
				break;
			}
		}

		if(found == false)
		{
			name = name.trim();  //???
			globalSelectedPersons.push((eval("({\"id\":" + id + ",\"name\":\"" + name + "\"})")));
			return true;
		}
		return false;
	};
	var removeFromGlobalSelectedPersons = function(id){
		for(var i=0; i<globalSelectedPersons.length; i++)
		{
			if(globalSelectedPersons[i].id == id)
			{
				globalSelectedPersons.splice(i, 1);
				break;
			}
		}
	}





	// ===============================
	// participants modal
	// ===============================
	/*
		return value:
			"" if no tags selected,
			"1+2+3" etc.
	*/
	var getSelectedTagIds = function(){
		var tagIds = "";
		$("a.tag-selected").each(function(){
			if(tagIds.length == 0)
			{
				tagIds += $(this).attr("data-tid");
			}
			else
			{
				tagIds += ("+" + $(this).attr("data-tid"));
			}
		});
		return tagIds;
	};

	/*
		query persons with group and tags
		NOTE: page is not included now!!!
	*/
	var queryPersonList = function(gid, tid){
		// alert(gid + " " + tid);
		// ajax flag
		if(ajaxQueryPersonFlag == AJAX_IDLE)
		{
			// set ajax flag
			ajaxQueryPersonFlag = AJAX_BUSY;

			// ajax submit
			$.get(
				"/members/queryperson/",
				{
					"gid": gid,
					"tid": tid
				},
				function(data)
				{
					var persons = eval(data);
					var target = $("#personAjaxDiv");
					target.empty();

					for(var i=0; i<persons.length; i++)
					{
						var code = "<label class=\"checkbox\">";
						code += "<div class=\"checker\">";
						code += "<span>";
						code += "<input type=\"checkbox\" name=\"selectPerson\" value=\"" + persons[i].id + "\" />";
						code += "</span></div>";
						code += persons[i].name;
						code += "</label>";
						target.append(code);
					}

					// bind checkbox event
					target.find("div.checker input").bind("click", checkerClickFunc);

					// reset ajax flag
					ajaxQueryPersonFlag = AJAX_IDLE;
				}
			);
		}
	};

	var removePersonFunc = function(){
		var id = $(this).attr("data-id");
		$(this).parent(".person").remove();

		// update global storage
		removeFromGlobalSelectedPersons(id);
	};



	$("a.group").click(function(){
		// toggle class
		$(this).parent("li").siblings("li").each(function(){
			$(this).removeClass("active");
		});
		$(this).parent("li").addClass("active");

		// clear all selected tags
		$("a.tag-selected").each(function(){
			$(this).removeClass("tag-selected");
		});

		// get params
		var gid = $(this).attr("data-gid");
		var tagIds = getSelectedTagIds();

		queryPersonList(gid, tagIds);
	});

	$("a.tag").click(function(){
		// toggle class
		if($(this).hasClass("tag-selected"))
		{
			$(this).removeClass("tag-selected");
		}
		else
		{
			$(this).addClass("tag-selected");
		}

		// get params
		var gid = $("#groupList").find("li.active").find("a.group").attr("data-gid");
		var tagIds = getSelectedTagIds();

		queryPersonList(gid, tagIds);
	});

	$("#selectAllPerson").click(function(){
		var checked = $(this).parent("span").hasClass("checked");
		if(checked)
		{
			// check all persons
			$("#personAjaxDiv").find(".checker").each(function(){
				if($(this).find("span").hasClass("checked") == false)
				{
					$(this).find("input[type='checkbox']").click();
				}
			});
		}
		else
		{
			// cancel all persons
			$("#personAjaxDiv").find(".checker").each(function(){
				if($(this).find("span").hasClass("checked") == true)
				{
					$(this).find("input[type='checkbox']").click();
				}
			});
		}
	});
	// 小BUG: check all后再取消某人!!!



	$("#addParticipantLink").click(function(){
		// back to default page
		// NOTE: extra query!!!
		$("#groupList").children("li").first().find("a.group").click();

		// clear checkAll
		if($("#selectAllPerson").parent("span").hasClass("checked"))
		{
			$("#selectAllPerson").click();
		}

		$("#participantModal").modal("show");
	});

	$("#participantModalOk").click(function(){
		$("#personAjaxDiv").find("input[name='selectPerson']:checked").each(function(){
			// get data
			var id = $(this).val();
			var name = $(this).parents("label").text();

			// update global storage
			var result = addToGlobalSelectedPersons(id, name);
			if(result == true)
			{
				// add to personList
				$("#personList").append(
					"<div class=\"person\">" + 
						"<span class=\"person-name\">" + name + "</span>" + 
						"<a href=\"javascript:void(0);\" class=\"remove-person\" data-id=\"" + id + "\">&nbsp;x</a>" + 
					"</div>");

				// bind event
				$("#personList").children(".person").last().find("a.remove-person").click(removePersonFunc);
			}
		});

		$("#participantModal").modal("hide");
	});
	// ===============================





	// ===============================
	// form submission
	// ===============================
	$("#typeSct").change(function(){
		/*if($(this).find("option:selected").val() == -1)
		{
			$("#typeSctError").show();
		}
		else
		{
			$("#typeSctError").hide();
		}*/
		$("#typeSctError").hide();
	});

	/*$(".ke-container").find("iframe").contents().find("body").keypress(function(){
		alert("A");
		if($(this).html().length != 0)
		{
			$("#inputDetailError").hide();
		}
	});*/


	$("#meetingFormOk").click(function(){
		
		// $("#inputTitle").parents(".control-group").addClass("error");
		// $("#inputTitle").focus();
		// $("#inputTitleError").removeClass("hide");

		var title = $("#inputTitle").val().trim();
		var type = $("#typeSct").find("option:selected").val();
		var startTime = $("#startDatetime").val();
		var place = $("#inputPlace").val().trim();
		var tel = $("#inputTel").val().trim();
		var email = $("#inputEmail").val().trim();

		// validation
		if(type == -1)
		{
			$("#typeSctError").show();
			$("#typeSct").focus();
			return false;
		}

		var detail = $("#inputDetail").siblings(".ke-container").find("iframe").contents().find("body").html();
		if(detail.length == 0)
		{
			$("#inputDetailError").show();
			$(".ke-container").find("iframe").contents().find("body").focus();
			return false;
		}


		if(globalSelectedPersons.length == 0)
		{
			alert("Please select participants.")
			return false;
		}

		var participants = globalSelectedPersons[0].id;
		for(var i=1; i<globalSelectedPersons.length; i++)
		{
			participants += "+" + globalSelectedPersons[i].id;
		}
		

		// ajax submit
		$.post(
			"/addmeeting/",
			{
				"title": title,
				"type": type,
				"startTime": startTime,
				"place": place,
				"tel": tel,
				"email": email,
				"detail": detail,
				"participants": participants
			},
			function(data)
			{
				var result = eval("(" + data + ")");
				if(result.success == "true")
				{
					alert(result.mid);
				}
				else
				{
					// error message
				}
			}
		);

	});
	// ===============================

});
</script>



<!-- 表单验证js -->
<script type="text/javascript">
	// var targetContent = $("iframe").contents().find("body").html();
	// document.getElementById('inputDetail').value = targetContent;
	// alert("长度:" + document.getElementById('inputDetail').value.length);

$(function() {


	
});
</script>
{%endblock%}


