{% extends 'base.html'%}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<!-- others -->
<link href="../public/css/uniform.default.css" rel="stylesheet">
<!-- <link href="../public/css/jquery-ui-1.10.1.css" rel="stylesheet"> --><!-- no images included -->
<link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href="../public/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="../public/css/fineuploader-3.4.1.css" rel="stylesheet" />

<style type="text/css">
	/* plugin patch */
	.ui-datepicker{
		font-size: 12px;
		line-height: 13px;
	}
	.date-input[readonly]{
		cursor: pointer;
		background-color: white;
	}
	.ke-container{
		/*没用 要延迟加载*/
		margin: 10px 0px; 
	}
	.fulltext-input{
		width: 700px;
		height: 300px;
		visibility: hidden;
	}

	/* participant */
	/* 现在person样式和tag一样 */
	div.person{
		display: inline-block;
		padding: 0 7px;
		margin-left: 8px;
		margin-bottom: 5px;
		height: 22px;
		line-height: 22px;
		background: #f1f1f1;
		text-align: center;
		color: #999;
		text-decoration: none;
		border: 1px solid #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	a.remove-person{
		font-weight: bold;
		line-height: 20px;
		color: #000000;
		text-shadow: 0 1px 0 #ffffff;
		opacity: 0.3;
		filter: alpha(opacity=30);
	}
	a.remove-person:hover{
		color: #000000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}

	/* participant modal */
	#participantModal{
		width: 60%;
		left: 40%;
	}
	#tagsDiv{
		margin-bottom: 10px;
	}
	#tagList{
		display: inline;
	}
	#personSelectDiv{
		padding-left: 20px;
		margin-bottom: 20px;
	}
	/* attachment modal */
	#fineUploader{
		display: inline-block;
	}
	#uploadMsg{
		width: 50%;
	}
	/* patch */
	.checkbox{
		display: inline-block;
		width: 220px;
	}

</style>
{%endblock%}

{%block content%}
{% load i18n %}
<div class="container">
	<h3>{% trans "New Meeting" %}</h3>
	<!-- <div class="row-fluid">
		<div class="box span12">
			<div class="box-header well">
				<h4>Basic info</h4>
			</div>
			<div class="box-content">
				dfadsff<br/><br/>dfadsff<br/><br/>dfdfd
			</div>
		</div>			
	</div> -->
	
	<form class="form-horizontal" id="meetingForm">

		<!-- Basic info block -->
		<div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Basic Info</h4>
			</div>
			<div class="form-block-content">
				<div class="control-group">
					<label class="control-label" for="inputTitle">Title</label>
					<div class="controls">
						<input type="text" id="inputTitle" placeholder="Title" data-validate-presence="true" data-validate-error="#inputTitleError" />
						<span class="alert alert-error hide" id="inputTitleError">
							Meeting title cannot be blank.
						</span>
						<div class="help-block">Should be less than 100 characters.</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="typeSct">Meeting type</label>
					<div class="controls">
						<select id="typeSct">
							<option value="-1">---- Please select ----</option>
							<option value="1">Formal meeting</option>
							<option value="2">Informal meeting</option>
						</select>
						<!-- 验证失效 -->
						<span class="alert alert-error hide" id="typeSctError">
							Please select meeting type.
						</span>
						<!-- static meeting type??? -->
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="startDatetime">Start time</label>
					<div class="controls">
						<input type="text" class="date-input" id="startDatetime" readonly="readonly" data-validate-presence="true" data-validate-error="#startDatetimeError" />
						<span class="alert alert-error hide" id="startDatetimeError">
							Start time cannot be blank.
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPlace">Place</label>
					<div class="controls">
						<input type="text" id="inputPlace" placeholder="Place" data-validate-presence="true" data-validate-error="#inputPlaceError" />
						<span class="alert alert-error hide" id="inputPlaceError">
							Place cannot be blank.
						</span>
						<div class="help-block">Should be less than 50 characters.</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputTel">Contact tel</label>
					<div class="controls">
						<input type="text" id="inputTel" placeholder="Contact tel" data-validate-presence="true" data-validate-format="/^[0-9]+$/" data-validate-error="#inputTelError" />
						<span class="alert alert-error hide" id="inputTelError">
							Should be a phone number.
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Contact email</label>
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="Contact mail" data-validate-email="true" data-validate-error="#inputEmailError" />
						<span class="alert alert-error hide" id="inputEmailError">
							Should be an email address.
						</span>
					</div>
				</div>

			</div>
		</div>





		<!-- Detail info block -->
		<div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Detail Info</h4>
			</div>
			<div class="form-block-content">
				<textarea class="fulltext-input" id="inputDetail"></textarea>
			</div>
			<!-- 验证框架失效 -->
			<span class="alert alert-error hide" id="inputDetailError">
				Detail info cannot be blank.
			</span>
		</div>





		<!-- Participant block -->
		<div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Participants</h4>
			</div>
			<div class="form-block-content">
				<div class="row-fluid" id="personList">
					<!-- add by js -->
					<!-- 
					<div class="person">
						<span class="person-name">Danis Lu</span>
						<a href="javascript:void(0);" class="remove-person" data-id="1">x</a>
					</div>
					 -->
				</div>
				<span class="alert alert-error hide" id="participantsError">
					Participants cannot be none.
				</span>
				<div class="row-fluid new-item-row">
					<a href="javascript:void(0);" id="addParticipantLink">&plus;&nbsp;Add participant</a>
				</div>
			</div>
		</div>





		<!-- Attachment block -->
		<div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Attachments</h4>
			</div>
			<div class="form-block-content">
				<div class="row-fluid">
					<div id="fineUploader" class="btn btn-primary">
						<div>
							<i class="icon-upload icon-white"></i>
							Add file
						</div>
					</div>
					<div id="uploadMsg"></div>
				</div>
			</div>
		</div>





		<!-- Voting block -->
		<!-- <div class="row-fluid form-block">
			<div class="form-block-header">
				<h4>Voting</h4>
			</div>
			<div class="form-block-content">
				<div clas="row-fluid">
					<a href="javascript:void(0);" data-toggle="modal">Customization</a>
				</div>
			</div>
		</div> -->





		<!-- Actions block -->
		<div class="form-actions">
	        <input type="button" class="btn btn-primary" id="meetingFormOk" value="Save" data-validate="#meetingForm" />
	        <input type="button" class="btn" id="meetingFormCancel" value="Cancel" />
		</div>
	</form>
</div>





<!-- Popup Modal -->
<div class="modal hide fade" id="participantModal" role="dialog" aria-labelledby="participantModalLabel" aria-hidden="true">
	<div class="modal-header">
		<!-- <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="x" /> -->
		<a href="javascript:void(0);" class="close" role="button" data-dismiss="modal" aria-hidden="true">x</a>
		<h3 id="participantModalLabel">Participants</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid" style="padding-left:0px; padding-right:0px;">
			<div class="row-fluid">
				<!-- sub group nav -->
				<div class="span4">
					<ul class="nav nav-list side-nav" id="groupList">
	  					<li class="active">
	  						<a href="javascript:void(0);" class="group" data-gid="-1">
	  							<span class="group-name">All</span>
	  						</a>
	  					</li>
	  					{% for group in groupAll %}
	  					<li>
	  						<a href="javascript:void(0);" class="group" data-gid="{{ group.gid }}">
	  							<span class="group-name">{{ group.gname }}</span>
	  						</a>
	  					</li>
	  					{% endfor %}
	  				</ul>
				</div>


				<div class="span8">
					<!-- sub tag nav -->
					<!-- all tags, not change with group!!! -->
					<div class="row-fluid" id="tagsDiv">
	  					<span>Tags:</span>
	  					<ul class="inline" id="tagList">
	  						{% for tag in tagAll %}
	  						<li><a class="tag" data-tid="{{ tag.tid }}">{{ tag.tname }}</a></li>
	  						{% endfor %}
	  					</ul>
	  				</div>

	  				<!-- corresponding person list -->
	  				<div id="personSelectDiv">
	  					<div id="personAjaxDiv">
	  						<!-- add by js -->
	  						<!-- 
		  					<label class="checkbox">
								<div class="checker">
									<span>
										<input type="checkbox" name="selectPerson" value="1" />
									</span>
								</div>
								Danis Lu
							</label>
							 -->
						</div>
						<!-- select all -->
						<div>
							<label class="checkbox">
								<div class="checker">
									<span>
										<input type="checkbox" id="selectAllPerson" />
									</span>
								</div>
								All
							</label>
						</div>
	  				</div>


	  				<div class="row-fluid pagination-row">
						<div class="pagination">
						  <ul>
						    <li class="prev disabled"><a href="javascript:void(0);">← Previous</a></li>
						    <li class="active"><a href="javascript:void(0);">1</a></li>
						    <li><a href="javascript:void(0);">2</a></li>
						    <li><a href="javascript:void(0);">3</a></li>
						    <li><a href="javascript:void(0);">4</a></li>
						    <li><a href="javascript:void(0);">5</a></li>
						    <li class="next"><a href="javascript:void(0);">Next → </a></li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-primary" id="participantModalOk" value="Save changes" />
		<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Cancel" />
	</div>
</div>
{%endblock%}





{%block morestatic%}
<!-- lib for datepicker -->
<script src="../public/js/jquery-ui-1.10.1.min.js"></script>
<script src="../public/js/jquery.ui.datepicker-zh-CN.js"></script>
<!-- lib for timepicker (enhanced datepicker) -->
<script src="../public/js/jquery-ui-timepicker-addon.js"></script>
<script src="../public/js/jquery.ui.timepicker-zh-CN.js"></script>

<!-- lib for kindeditor -->
<script src="../public/js/kindeditor-4.0.5/kindeditor-min.js"></script>
<script src="../public/js/kindeditor-4.0.5/lang/zh_CN.js"></script>

<!-- lib for fileupload -->
<script src="../public/js/jquery.fineuploader-3.4.1.min.js"></script>

<!-- <script src="../public/js/jquery.uniform.min.js"></script> -->
<script src="../public/js/uniform.default.js"></script>

<!-- 初始化js -->
<script type="text/javascript">
$(function() {
	// init datetime picker
	$("#startDatetime").datetimepicker({
		showMonthAfterYear: true,
        // changeMonth: true, 
        // changeYear: true, 
		minDate: '-2y', maxDate: '+2y', 
		dateFormat: 'yy/mm/dd',

        // showSecond: true,
        timeFormat: 'hh:mm',
        stepHour: 1,
        stepMinute: 1,
        stepSecond: 1
    });


    // init KindEditor
    var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[id="inputDetail"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : false,
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
		});
	});


    // 有问题???阻止点击背景关闭
    $("#participantModal").on("show", function(){
    	// alert("a");
    	$(".modal-backdrop fade in").unbind("click");
    });


    // 表单验证框架 略弱!!!
    // $.fn.validations.options.validateOn = "";
    $("#meetingForm").validations();
});
</script>



<!-- 事件绑定js -->
<script type="text/javascript">
$(function() {
	// constants
	var AJAX_IDLE = 0;
	var AJAX_BUSY = 0;

	// ajax flags
	var ajaxQueryPersonFlag = AJAX_IDLE;

	// global storage
	// format: [{id, name}, ...]
	var globalSelectedPersons = new Array();
	// format: [{fileId, fileName}, ...]
	var globalBindedFiles = new Array();

	// util functions of global storage
	/* return true if not duplicate and add successfully */
	var addToGlobalSelectedPersons = function(id, name){
		var found = false;
		for(var i=0; i<globalSelectedPersons.length; i++)
		{
			if(globalSelectedPersons[i].id == id)
			{
				found = true;
				break;
			}
		}

		if(found == false)
		{
			globalSelectedPersons.push((eval("({\"id\":" + id + ",\"name\":\"" + name + "\"})")));
			return true;
		}
		return false;
	};
	var removeFromGlobalSelectedPersons = function(id){
		for(var i=0; i<globalSelectedPersons.length; i++)
		{
			if(globalSelectedPersons[i].id == id)
			{
				globalSelectedPersons.splice(i, 1);
				break;
			}
		}
	}
	var addToGlobalBindedFiles = function(fileId, fileName){
		globalBindedFiles.push((eval("({\"fileId\":" + fileId + ",\"fileName\":\"" + fileName + "\"})")));
	};
	var removeFromGlobalBindedFiles = function(fileId){
		for(var i=0; i<globalBindedFiles.length; i++)
		{
			if(globalBindedFiles[i].fileId == fileId)
			{
				globalBindedFiles.splice(i, 1);
				break;
			}
		}
	}



	/* common util functions */
	var disableButton = function(btn){
		btn.addClass("disabled");
		btn.attr("disabled", "disabled");
	};
	var enableButton = function(btn){
		btn.removeClass("disabled");
		btn.removeAttr("disabled");
	}





	// ===============================
	// participants modal
	// ===============================
	/*
		return value:
			"" if no tags selected,
			"1+2+3" etc.
	*/
	var getSelectedTagIds = function(){
		var tagIds = "";
		$("a.tag-selected").each(function(){
			if(tagIds.length == 0)
			{
				tagIds += $(this).attr("data-tid");
			}
			else
			{
				tagIds += ("+" + $(this).attr("data-tid"));
			}
		});
		return tagIds;
	};

	/*
		query persons with group and tags
		NOTE: page is not included now!!!
	*/
	var queryPersonList = function(gid, tid){
		// alert(gid + " " + tid);
		// ajax flag
		if(ajaxQueryPersonFlag == AJAX_IDLE)
		{
			// set ajax flag
			ajaxQueryPersonFlag = AJAX_BUSY;

			// ajax submit
			$.get(
				"/members/queryperson/",
				{
					"gid": gid,
					"tid": tid
				},
				function(data)
				{
					var persons = eval(data);
					var target = $("#personAjaxDiv");
					target.empty();

					for(var i=0; i<persons.length; i++)
					{
						var code = "<label class=\"checkbox\">";
						code += "<div class=\"checker\">";
						code += "<span>";
						code += "<input type=\"checkbox\" name=\"selectPerson\" value=\"" + persons[i].id + "\" />";
						code += "</span></div>";
						code += persons[i].name;
						code += "</label>";
						target.append(code);
					}

					// bind checkbox event
					target.find("div.checker input").bind("click", checkerClickFunc);
					target.find("div.checker input").bind("click", notAllClickFunc);

					// reset ajax flag
					ajaxQueryPersonFlag = AJAX_IDLE;
				}
			);
		}
	};

	// ========== refresh person list ==========
	$("a.group").click(function(){
		// toggle class
		$(this).parent("li").siblings("li").each(function(){
			$(this).removeClass("active");
		});
		$(this).parent("li").addClass("active");

		// clear all selected tags
		$("a.tag-selected").each(function(){
			$(this).removeClass("tag-selected");
		});

		// get params
		var gid = $(this).attr("data-gid");
		var tagIds = getSelectedTagIds();

		queryPersonList(gid, tagIds);
	});

	$("a.tag").click(function(){
		// toggle class
		if($(this).hasClass("tag-selected"))
		{
			$(this).removeClass("tag-selected");
		}
		else
		{
			$(this).addClass("tag-selected");
		}

		// get params
		var gid = $("#groupList").find("li.active").find("a.group").attr("data-gid");
		var tagIds = getSelectedTagIds();

		queryPersonList(gid, tagIds);
	});


	// ========== checkbox event ==========
	var notAllClickFunc = function(){
		if(isCheckboxChecked($(this)) == false)
		{
			checkboxCancel($("#selectAllPerson"));
		}
	}

	$("#selectAllPerson").click(function(){
		if(isCheckboxChecked($(this)))
		{
			// check all persons
			$("#personAjaxDiv").find(".checker").each(function(){
				checkerCheck($(this));
			});
		}
		else
		{
			// cancel all persons
			$("#personAjaxDiv").find(".checker").each(function(){
				checkerCancel($(this));
			});
		}
	});


	// ========== modal submission ==========
	var removePersonFunc = function(){
		var id = $(this).attr("data-id");
		$(this).parent(".person").remove();

		// update global storage
		removeFromGlobalSelectedPersons(id);
	};

	$("#addParticipantLink").click(function(){
		// back to default page
		// NOTE: extra query!!!
		$("#groupList").children("li").first().find("a.group").click();

		// clear checkAll
		if(isCheckboxChecked($("#selectAllPerson")))
		{
			$("#selectAllPerson").click();
		}

		$("#participantModal").modal("show");
	});

	$("#participantModalOk").click(function(){
		// flag only if select any one person
		var isChecked = false;

		$("#personAjaxDiv").find("input[name='selectPerson'][checked='checked']").each(function(){
			isChecked = true;

			// get data
			var id = $(this).val();
			var name = $(this).parents("label").text();

			// update global storage
			var result = addToGlobalSelectedPersons(id, name);
			if(result == true)
			{
				// add to personList
				$("#personList").append(
					"<div class=\"person\">" + 
						"<span class=\"person-name\">" + name + "</span>" + 
						"<a href=\"javascript:void(0);\" class=\"remove-person\" data-id=\"" + id + "\">&nbsp;x</a>" + 
					"</div>");

				// bind event
				$("#personList").children(".person").last().find("a.remove-person").click(removePersonFunc);
			}
		});

		if(isChecked)
		{
			// clear error message
			$("#participantsError").hide();
		}

		$("#participantModal").modal("hide");
	});
	// ===============================





	// ===============================
	// file upload
	// ===============================
    $fub = $('#fineUploader');
    $messages = $('#uploadMsg');
 
    var uploader = new qq.FineUploaderBasic({
    	multiple: false,
		button: $fub[0],
		request: {
     		endpoint: '/upfile/'
      	},
      	/*validation: {
      		allowedExtensions: ['jpeg', 'jpg', 'gif', 'png', 'pdf', 'docx', 'doc', 'pptx', 'ppt', 'xlsx', 'xls', 'txt', 'rar'],
        	sizeLimit: 104857600 // 100 MB = 100 * 1024 * 1024 bytes
      	},*/
        /*deleteFile: {
            enabled: true,
            endpoint: '/upfile/',
            forceConfirm: true
        },*/
      	callbacks: {
        	onSubmit: function(id, fileName) {
	          	$messages.append('<div id="file-' + id + '" class="alert" style="margin: 20px 0 0"></div>');
	          	// disable form submit button
	          	disableButton($("#meetingFormOk"));
	        },
        	onUpload: function(id, fileName) {
          		$('#file-' + id).addClass('alert-info')
               		.html('<img src="../public/img/loading.gif" alt="Initializing. Please hold."> ' +
                 			'Initializing ' +
                      		'“' + fileName + '”');
       		},
        	onProgress: function(id, fileName, loaded, total) {
          		if (loaded < total) {
            		progress = Math.round(loaded / total * 100) + '% of ' + Math.round(total / 1024) + ' kB';
            		$('#file-' + id).removeClass('alert-info')
                            .html('<img src="../public/img/loading.gif" alt="In progress. Please hold."> ' +
                                  'Uploading ' +
                                  '“' + fileName + '” ' +
                                  progress);
          		} else {
            		$('#file-' + id).addClass('alert-info')
                            .html('<img src="../public/img/loading.gif" alt="Saving. Please hold."> ' +
                                  'Saving ' +
                                  '“' + fileName + '”');
          		}
        	},
        	onComplete: function(id, fileName, responseJSON) {
        		var result = responseJSON[0];
          		if (result.success == "true") {
            		$('#file-' + id).removeClass('alert-info')
                            .addClass('alert-success')
                            .html('<i class="icon-ok"></i> ' +
                                  'Successfully saved ' +
                                  '“' + fileName + '”');

               		// update global storage
               		addToGlobalBindedFiles(result.fileId, fileName);
          		} else {
            		$('#file-' + id).removeClass('alert-info')
                            .addClass('alert-error')
                            .html('<i class="icon-exclamation-sign"></i> ' +
                                  'Error with ' +
                                  '“' + fileName + '”');
          		}

          		enableButton($("#meetingFormOk"));
        	}
      	}
    });

	// upload cancel and file cancel???
	// ===============================





	// ===============================
	// form submission
	// ===============================
	$("#typeSct").change(function(){
		/*if($(this).find("option:selected").val() == -1)
		{
			$("#typeSctError").show();
		}
		else
		{
			$("#typeSctError").hide();
		}*/
		$("#typeSctError").hide();
	});

	/*$(".ke-container").find("iframe").contents().find("body").keypress(function(){
		alert("A");
		if($(this).html().length != 0)
		{
			$("#inputDetailError").hide();
		}
	});*/

	$("#meetingFormCancel").click(function(){
		// redirect to meetings page
		location.href = "/meetings/";
	});

	$("#meetingFormOk").click(function(){
		// clear all errors
		$("#meetingForm").find(".alert-error").each(function(){
			$(this).hide();
		});
		
		// $("#inputTitle").parents(".control-group").addClass("error");
		// $("#inputTitle").focus();
		// $("#inputTitleError").removeClass("hide");

		// basic info
		var title = $("#inputTitle").val().trim();
		var type = $("#typeSct").find("option:selected").val();
		var startTime = $("#startDatetime").val();
		var place = $("#inputPlace").val().trim();
		var tel = $("#inputTel").val().trim();
		var email = $("#inputEmail").val().trim();

		if(type == -1)
		{
			$("#typeSctError").show();
			$("#typeSct").focus();
			return false;
		}

		// detail info
		var detail = $("#inputDetail").siblings(".ke-container").find("iframe").contents().find("body").html();
		// NOTE: length == 0 很不精确，比如按一个回车!!!
		if(detail.length == 0)
		{
			$("#inputDetailError").css("display", "inline-block");
			$(".ke-container").find("iframe").contents().find("body").focus();
			return false;
		}

		// participants
		if(globalSelectedPersons.length == 0)
		{
			$("#participantsError").css("display", "inline-block");
			return false;
		}

		var participants = globalSelectedPersons[0].id;
		for(var i=1; i<globalSelectedPersons.length; i++)
		{
			participants += "+" + globalSelectedPersons[i].id;
		}

		// files
		var files = "";
		for(var i=0; i<globalBindedFiles.length; i++)
		{
			if(i != 0)
			{
				files += "+";
			}
			files += globalBindedFiles[i].fileId;
		}


		// ajax flag!!! disable button
		disableButton($("#meetingFormOk"));
		$("#meetingFormOk").val("Saving...");

		// ajax submit
		$.post(
			"/addmeeting/",
			{
				"title": title,
				"type": type,
				"startTime": startTime,
				"place": place,
				"tel": tel,
				"email": email,
				"detail": detail,
				"participants": participants,
				"files": files
			},
			function(data)
			{
				var result = eval("(" + data + ")");
				if(result.success == "true")
				{
					// redirect to meeting page
					location.href = "/meeting/?mid=" + result.mid;
				}
				else
				{
					// error message
				}

				// reset ajax flag!!! enable button
				enableButton($("#meetingFormOk"));
				$("#meetingFormOk").val("Save");
			}
		);

	});
	// ===============================

});
</script>
{%endblock%}


