{% extends 'base.html'%}
{% load i18n %}

{%block title%}SkyMeeting{%endblock%}

{%block cssfile%}
<link href="../public/css/uniform.default.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../public/css/specific/profile.css">
{%endblock%}

{%block content%}
<div class="container">
	<h3>{% trans "Profile" %}</h3>
	<div id="profileDiv">
		<a href="javascript:void(0);" id="editProfileLink">{% trans "Edit" %}</a>
		<dl class="dl-horizontal">
			<dt>{% trans "Name" %}</dt>
			<dd>{{ name }}</dd>
			<dt>{% trans "Gender" %}</dt>
			<dd>
				{% if sex == 1 %}
				{% trans "Male" %}
				{% elif sex == 0 %}
				{% trans "Female" %}
				{% else %}
				{% trans "Secret" %}
				{% endif %}
			</dd>
			<dt>{% trans "ID Card Number" %}</dt>
			<dd>{{ idcard }}</dd>
			<dt>{% trans "Phone" %}</dt>
			<dd>{{ phone }}</dd>
			<dt>{% trans "Email" %}</dt>
			<dd>{{ email }}</dd>
		</dl>
	</div>
	<form class="form-horizontal hide" id="profileForm" action="/editprofile/" method="post">
		<div class="control-group">
			<label class="control-label" for="editName">{% trans "Name" %}</label>
			<div class="controls">
				<input type="text" id="editName" placeholder="{% trans 'Name' %}" data-validate-presence="true" data-validate-error="#editNameError" name="name" value="{{ name }}" />
				<span class="alert alert-error hide" id="editNameError">
					{% trans "Name cannot be blank." %}
				</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{% trans "Gender" %}</label>
			<div class="controls">
				<label class="radio inline">
					<div class="radio">
						<span {% if sex == 1 %}class="checked"{% endif %}>
							<input type="radio" name="sex" value="1" {% if sex == 1 %}checked="checked"{% endif %} />
						</span>
					</div>
					{% trans "Male" %}
				</label>
				<label class="radio inline">
					<div class="radio">
						<span {% if sex == 0 %}class="checked"{% endif %}>
							<input type="radio" name="sex" value="0" {% if sex == 0 %}checked="checked"{% endif %} />
						</span>
					</div>
					{% trans "Female" %}
				</label>
				<label class="radio inline">
					<div class="radio">
						<span {% if sex != 1 and sex != 0 %}class="checked"{% endif %}>
							<input type="radio" name="sex" value="-1" {% if sex != 1 and sex != 0 %}checked="checked"{% endif %} />
						</span>
					</div>
					{% trans "Secret" %}
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="editIDno">{% trans "ID Card Number" %}</label>
			<div class="controls">
				<input type="text" id="editIDno" placeholder="{% trans 'ID Card Number' %}" data-validate-presence="true" data-validate-format="/^[0-9]+$/" data-validate-error="#editIDnoError" name="idcard" value="{{ idcard }}" />
				<span class="alert alert-error hide" id="editIDnoError">
					{% trans "Should be a ID card number." %}
				</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="editPhone">{% trans "Phone" %}</label>
			<div class="controls">
				<input type="text" id="editPhone" placeholder="{% trans 'Phone' %}" data-validate-presence="true" data-validate-format="/^[0-9]+$/" data-validate-error="#editPhoneError" name="phone" value="{{ phone }}" />
				<span class="alert alert-error hide" id="editPhoneError">
					{% trans "Should be a phone number." %}
				</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="editEmail">{% trans "Email" %}</label>
			<div class="controls">
				<input type="text" id="editEmail" placeholder="{% trans 'Email' %}" data-validate-email="true" data-validate-error="#editEmailError" name="email" value="{{ email }}" />
				<span class="alert alert-error hide" id="editEmailError">
					{% trans "Should be an email address." %}
				</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-primary" id="profileFormOk" value="{% trans 'Save' %}" data-validate="#profileForm" />
        		<input type="button" class="btn" id="profileFormCancel" value="{% trans 'Cancel' %}" />
			</div>
		</div>
	</form>
</div>
{%endblock%}

{%block morestatic%}
<!-- <script src="../public/js/jquery.uniform.min.js"></script> -->
<script src="../public/js/uniform.default.js"></script>

<script type="text/javascript" src="../public/js/specific/profile.js"></script>
{%endblock%}
