
    /* links */
	a.default-link{
    	color: black;
    	text-decoration: none;
    }
    a.default-link:hover, a.default-link:focus{
    	color: #0088cc;
    	text-decoration: underline;
    }
    a.image-link{
    	text-decoration: none;
    }
    a.image-link:hover, a.image-link:focus{
    	text-decoration: none;
    }
	

	/* pagination */
	.pagination-row {		
		text-align: center;
	}
	.pagination-row .pagination {
		margin: 5px 0;
	}


	/* tags */
	a.tag, div.tag{
		padding: 0 7px;
		margin-bottom: 5px;
		height: 22px;
		line-height: 22px;
		display: inline-block;
		background: #f1f1f1;
		text-align: center;
		color: #999;
		text-decoration: none;
		cursor: pointer;
		border: 1px solid #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	a.tag:link, a.tag:hover{
		/*background: #84bce2;
		color: #fff;*/
	}
	a.tag-selected{
		background: #0088cc;
		color: #fff;
	}
	a.delete-tag{
		font-weight: bold;
		line-height: 20px;
		color: #000000;
		text-shadow: 0 1px 0 #ffffff;
		opacity: 0.3;
		filter: alpha(opacity=30);

	}
	a.delete-tag:hover,.close:focus{
		color: #000000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}


	/* others */
	.new-item-row {
		margin-top: 15px;
	}
	.alert-msg{
		color: #b94a48;
	}


	/* side nav (copied from bootcss.com) */
	.side-nav {
	  /*width: 265px;*/
	  margin: 0;
	  padding: 0;
	  background-color: #fff;
	  -webkit-border-radius: 6px;
	     -moz-border-radius: 6px;
	          border-radius: 6px;
	  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	          box-shadow: 0 1px 4px rgba(0,0,0,.065);
	}
	.side-nav > li > a {
	  display: block;
	  width: 190px \9;
	  margin: 0 0 -1px;
	  padding: 8px 14px;
	  border: 1px solid #e5e5e5;
	}
	.side-nav > li:first-child > a {
	  -webkit-border-radius: 6px 6px 0 0;
	     -moz-border-radius: 6px 6px 0 0;
	          border-radius: 6px 6px 0 0;
	}
	.side-nav > li:last-child > a {
	  -webkit-border-radius: 0 0 6px 6px;
	     -moz-border-radius: 0 0 6px 6px;
	          border-radius: 0 0 6px 6px;
	}
	.side-nav > .active > a {
	  position: relative;
	  z-index: 2;
	  padding: 9px 15px;
	  border: 0;
	  text-shadow: 0 1px 0 rgba(0,0,0,.15);
	  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	}
	/* Chevrons */
	.side-nav .icon-chevron-right {
	  float: right;
	  margin-top: 2px;
	  margin-right: -6px;
	  opacity: .25;
	}
	.side-nav > li > a:hover {
	  background-color: #f5f5f5;
	}
	.side-nav a:hover .icon-chevron-right {
	  opacity: .5;
	}
	.side-nav .active .icon-chevron-right,
	.side-nav .active a:hover .icon-chevron-right {
	  background-image: url(../public/img/glyphicons-halflings-white.png);
	  opacity: 1;
	}
	.side-nav.affix {
	  top: 40px;
	}
	.side-nav.affix-bottom {
	  position: absolute;
	  top: auto;
	  bottom: 270px;
	}


	/* box block (copied from charisma) */
	.box{
		border: 1px solid #DEDEDE;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		margin-top: 10px; 
		margin-bottom: 10px ;
		box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
		-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
		-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	}
	.box-header{
		border:none;
		padding-top:5px;
		border-bottom: 1px solid #DEDEDE;
		border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		height:12px;
		min-height:12px;
		margin-bottom: 0;
		/*cursor:move;*/
		font-weight:bold;
		font-size:16px;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );
	}
	.box-header h2{
		font-size:15px;
		width:auto;
		clear:none;
		float:left;
		line-height:25px;
	}
	.box-header h3{
		font-size:13px;
		width:auto;
		clear:none;
		float:left;
		line-height:25px;
	}
	.box-header h2 > i{
		margin-top:1px;
	}
	.box-icon{
		float:right;
	}
	.box-icon a{
		clear:none;
		float:left;
		margin:0 2px;
		height: 18px;
		width:5px;
		margin-top: -1px;
	}
	.box-icon a i{
		margin-left:-4.5px;
	}
	.box-content{
		padding:10px;
	}


	/* popup */
	.popup-div{
		z-index: 9;
		border: 1px solid #ccc;
		background-color: #fff;
	}
	.popup-div-header{
		padding: 9px 15px;
	}
	.popup-div-inner{
		padding: 15px 30px;
	}
	.popup-action-div{
		margin-top: 10px;
		text-align: center;
	}
	.popup-delete-hint{
		font-size: 16px;
	}
	.popup-strong-hint{
		color: #0088cc;
		font-weight: bold;
	}
	.popup-div-header-small{
		padding: 6px 10px;
	}
	.popup-div-inner-small{
		padding: 8px 16px;
	}


	/* form */
	.form-block{
		margin-bottom: 10px;
	}
	.form-block-header{
		border-bottom: 1px dashed #ccc;
	}
	.form-block-content{
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.inline-error{
		display: inline-block;
	}
	/* bootstrap patch */
	.alert{
		margin-bottom: 0;
	}
	.help-block, .help-inline{
		color: #999;
	}
	/* uniform patch */
	.checkbox{
		padding-left: 0;
	}
	.checkbox.inline{
		margin-right: 15px;
	}


